@media screen and (max-width: 520px) {
    h1 {
        margin-bottom: 0 !important;
    }
    .container-1 > *:not(button) {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .container-1 > *:not(button) {
        width: 300px;
    }
}

html, body {
    height: 100%;
}

body {
    background-color: #FD7272;
    font-family: 'Orbitron', sans-serif;    
}

h1 {
    text-align: center;
    color: white;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
}

.container-1 > * {
    width: 500px;
    margin: 1em 0;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.form-group .btn {
    margin-left: 0.5em;
    color: #FD7272;
    font-size: 1.5em;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.clear-btn {
    width: 300px;
    margin-top: 0;
    font-weight: bold;
}

p#result {
    text-align: center;

}
#numbers {
    height: 200px;
    overflow-y: scroll;
}

#numbers span {
    margin: 5px;
    font-weight: bold;
}

#buttons .btn {
    margin: 0.3em;
    font-size: 0.9em;
}

